<!DOCTYPE html>
<html>
<head>
  <title>ようこそ！Memo.mdへ！</title>
</head>
<body>
<h1>Memmo.mbp</h1>
<p>
  これはホームページになる予定です
  <%= link_to "登録する！", singup_path, class: "btn btn-lg btn-primary" %>
</p>
</body>
</html>